.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.content-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.content-container > hr {
  color: #484848;
  width: 87%;
}
