.logInContainer {
    max-width: 540px !important;
    align-self: center;
}

/*forms */
form > button {
    margin-bottom: 20px;
}

form > :first-child {
    margin-top: 20px;
}

.logInContainer > div:nth-child(3) {
    text-align: center;
}